body {
    color: #999;
    width: 600px;
    height: 600px;
}

.pole {
    /* background-color: red;*/
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 20%;
    height: 120px;
    border-width: 2px;
    border-color: brown;
    border-style: solid;
}